.card {
    font: 1em comic-sans;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
}

.save_button{
    top: auto;
    right: 20px;
    bottom: 20px;
    left: auto;
    position: fixed;
}